<h1>Mechanic: <%= @mechanic.name %></h1>
<h3>Years of Experience: <%= @mechanic.years_of_exp %></h3>

<h2>Current Rides They're Working On:</h2>
<ul class="mechanic-ride-list">
  <% @mechanic.rides.each do |ride| %>
  <li><%= ride.name %></li>
  <% end %>
</ul>

<p>Add a Ride to Workload:</p>
<%= form_tag "/mechanics/#{@mechanic.id}/rides", method: :post do %>
<%= label_tag :id %>
<%= text_field_tag :id %>
<%= submit_tag "Submit Ride" %>
<% end %>
